<ion-view view-title="Editar Clase" ng-init="list()" class= "editservice" >
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
   
    <ion-content class="padding"> 
        <div class="list card">
            <div style="display:none">
                {{service.id}}
            </div>
            <div class="item item-divider">
               <strong>Nombre de la clase</strong>
            </div>
            <div class="item item-text-wrap">
                {{service.serviceName}}

                <input ng-model="serviceName" type="text" placeholder="New name"/>
            </div>
            <div class="item item-divider">
                <strong>Categoria</strong>
            </div>

            <div class="item item-text-wrap">
                {{service.category}}
                
                <div class= "item">
                <select ng-model="serviceCategory" ng-options="cat for cat in categories">
                </select>
                </div>
            </div>
            <div class="item item-divider">
               <strong>Propietario</strong>
            </div>
            <div class="item item-text-wrap">
                {{service.owner}}
            </div>
            <div class="item item-divider">
                <strong>Lugar</strong>
            </div>
            <div class="item item-text-wrap">
                {{service.city}}
                <input ng-model="dataCity" type="text" placeholder="New city"/>
            </div>
        </div>
         
         <button class="button button-block button-positive" ng-click="updateRecords(serviceName, serviceCategory, dataCity);">Guardar cambios</button>  

    </ion-content>
</ion-view>
