<ion-view view-title="Home" hide-back-button="true" ng-init="list()" class="services">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
   
    <ion-content>
        <div class="list card">
            <div ng-repeat="service in services " class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">

                    <strong>{{ service.serviceName }}</strong>

                </button>
                <div ng-show="showme">
                    <div class="item item-body">
                    </div>                
                    <div class="item item-avatar">
                    <strong><h2>{{ service.owner }}</h2></strong>
                    </div>
                    <button class="button button-block item item-icon-right" ng-click="com = !com">
                    <strong>Comments</strong>
                    </button>
                    <div ng-show="com" ng-repeat="comment in service.comments" class="item">   
                        <strong>User</strong><br></br>
                        {{comment.email}}<br></br>
                        <strong>Rate</strong> 
                        <rating ng-model="comment.calification" max="5"></rating><br></br>
                        <strong>Comment</strong><br></br>
                        {{comment.content}}
                    </div>
                    <button class="button icon ion-plus-round button-balanced" ng-click="adquire(service)">
                    </button>
                </div>
                <div style="display:none">
                    {{ service.id }}
                </div>
            </div> 
        </div>
    </ion-content>
</ion-view>