<ion-view view-title="Welcome" hide-back-button="true" class="login" ng-init="session()">
    <!--<ion-content class="login">-->        
        <div class="padding">
            
            <div style="width: 300px; height: 10px;"></div>
            <center><h1 class= "logo">HASTLER</h1></center>
            <div class="spacer" style="width: 300px; height: 70px;"></div>

            <Center style="color:white; font-family: 'Lobster13Regular', Helvetica, sans-serif; font-weight: bold;">Don't get in trouble log in with your facebook account</Center>

            <button ng-click="fbLogin()" class="button button-block button-positive icon-left ion-social-facebook fbbody">Facebook</button>

            <div style="width: 300px; height: 15px;"></div>


            <div class="list list-inset">
                <label class="item item-input item-icon-right">
                    <i class= "color-gray icon ion-at"></i>
                    <input ng-model="email" type="email" placeholder="someone@example.com"/>
                </label>
                <label class="item item-input item-icon-right">
                    <i class= "color-gray icon ion-key"></i>
                    <input ng-model="password" type="password" placeholder="Password"/>
                </label>
            </div>
            <button class="button button-positive" ng-click="toResetPassword()">forgot password?</button>
        </div>

        <div class="tabs tabs-dark">
            <a class="tab-item" ng-click="login(email, password) "><strong>Log in</strong></a>
            <a class="tab-item" href="#/register"><strong>Sign Up</strong></a>        
        </div>

</ion-view>