<ion-view view-title="Menu" hide-back-button="true" class= "menu">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">

        <button class="button button-block button-positive icon-center ion-android-person" ng-click="toMyProfile()">	Profile</button>
        <button class="button button-block button-positive icon-center ion-university" ng-click="toMyCreateServices()">	My Classes</button>
        <button class="button button-block button-assertive icon-center ion-sad" ng-click="logout()">  Log Out</button>

    </ion-content>
</ion-view>