<ion-view view-title="menu" hide-back-button="true">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">

        <button class="button button-block button-positive" ng-click="toMyProfile()">Profile</button>
        <button class="button button-block button-positive" ng-click="toMyCreateServices()">My Classes</button>
        <button class="button button-block button-assertive" ng-click="logout()">Log out</button>

    </ion-content>
</ion-view>