<ion-view view-title="Profile" ng-init="list()" class= "profile">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>


    <ion-content class="padding">   
    
    <div class="profile-imagen item item-avatar">
            <img src="img/avatarMan.jpg"> 
            </img>
            <strong>{{ data.name }}</strong>   
    </div>  
               
         

        <div class="list card">      
            <div class="item item-divider">
               <strong> Name</strong>
            </div>
            <div class="item item-text-wrap">
                {{data.name}}
                <input ng-model="dataName" type="text" placeholder="New name"/>
            </div>
            <div class="item item-divider">
                <strong>Lastname</strong>
            </div>
            <div class="item item-text-wrap">
                {{data.lastname}}
                <input ng-model="dataLastname" type="text" placeholder="New lastname"/>
            </div>
            <!--<div class="item item-divider">
                <strong>Hastly</strong>
            </div>
            <div class="item item-text-wrap">
                {{data.hastly}}
            </div>-->
            <div class="item item-divider">
               <strong>Email</strong>
            </div>
            <div class="item item-text-wrap">
                {{data.email}}
            </div>
            <div class="item item-divider">
                <strong>Phone</strong>
            </div>
            <div class="item item-text-wrap">
                {{data.telephone}}
                <input ng-model="dataTel" type="text" placeholder="New phone"/>
            </div>
        </div>
        <button class="button button-block button-positive" ng-click="updateRecords(dataName, dataLastname, dataTel);">Save Changes</button>
    </ion-content>
</ion-view>