<ion-view view-title="Home" ng-init="list()">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
   
    <ion-content>
        <div class="list">
            <div ng-repeat="serviceData in serviceList | filter:searchText" class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">
                    <i class="icon ion-android-arrow-dropdown-circle"></i>
                    {{ serviceData.title }}
                </button>
                <div ng-show="showme">
                    <label class="item">
                        <h2>Category</h2>
                        <p>{{ serviceData.category }}</p>
                    </label>
                    <label class="item">
                        <h2>Owner</h2>
                        <p>{{ serviceData.owner }}</p>
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" ng-click="adquire(serviceData)">Adquire</button>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>