<ion-view view-title="Register" class="register">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
        <div class="paddingz">
            
            <div style="width: 100%; height: 20%;"></div>

            <div style="background-color: white">
                <label class="item item-input item-stacked-label item-icon-right">
                    <i class= "icon ion-email"></i>
                    <span class="input-label"><strong>Email</strong></span>
                    <input ng-model="email" type="email" placeholder="Email" />           
                </label>
                <label class="item item-input item-stacked-label  item-icon-right">
                    <i class= "icon ion-android-unlock"></i>
                    <span class="input-label"><strong>Password</strong></span>
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
                <label class="item item-input item-stacked-label item-icon-right">
                    <i class= " icon ion-ios-paper"></i>
                    <span class="input-label"><strong>Name</strong></span>
                    <input ng-model="name" type="text" placeholder="First Name" />
                </label>
                <label class="item item-input item-stacked-label item-icon-right">
                    <i class= "icon ion-ios-paper"></i>
                    <span class="input-label"><strong>Last Name</strong></span>
                    <input ng-model="lastName" type="text" placeholder="Last Name" />
                </label>
                
            </div>
        </div>

        <div class="tabs tabs-dark">
            <a class="tab-item" ng-click="register(email,password,name, lastName)"><strong>Sign Up</strong></a>
        </div>

</ion-view>