<ion-tabs class="tabs-striped tabs-icon-only tabs-background-dark tabs-positive">

    <ion-tab title="Home" icon="icon ion-android-home" href="#/tab/home">
        <ion-nav-view name="my-services-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="search" icon="ion-android-search" href="#/tab/search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Upcoming Classes" icon="ion-clipboard"  href="#/tab/services">
        <ion-nav-view name="services-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="icon ion-person" href="#/tab/menu">
        <ion-nav-view name="menu-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>