<ion-tabs class="tabs-striped tabs-icon-only tabs-background-dark tabs-positive">

    <ion-tab title="Home" icon="icon ion-android-home" ng-click="toHome()">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="search" icon="ion-android-search" ng-click="toSearch()">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Upcoming Classes" icon="ion-clipboard" ng-click="toUpComingClasses()">
        <ion-nav-view name="upComingClasses-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="icon ion-person" href="#/tab/menu">
        <ion-nav-view name="menu-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>