<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Profile" icon="ion-android-person" href="#/tab/profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Services" icon="ion-android-wifi" href="#/tab/myServices">
        <ion-nav-view name="my-services-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Services" icon="ion-android-globe" href="#/tab/services">
        <ion-nav-view name="services-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account" icon="ion-android-settings" href="#/tab/account">
        <ion-nav-view name="account-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>