<ion-view view-title="Upcoming Classes" ng-init="list()" class="services">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content>
        <div class="list card">
            <div ng-repeat="service in data.services" class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">
                                        
                    <div class="item item-avatar">
                        <img src="https://lh3.googleusercontent.com/-MMVM88kotCQ/AAAAAAAAAAI/AAAAAAAAAAA/neeJld0xTdE/photo.jpg"></img>
                        <h2>Pretty Hate Machine</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <img src="http://www.iconarchitects.com/images/projectImages/mayville-university.jpg"></img>
                    </div>
                </button>
            </div>
        </div>        
    </ion-content>
</ion-view>