<ion-view view-title="Upcoming Classes" ng-init="list()" class="services">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content>
        <div class="list card">
            <div ng-repeat="service in services" class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">

                    <strong>{{ service.serviceName }}</strong>

                </button>
                <div ng-show="showme">

                    <div class="item">
                    <strong>owner</strong>
                    <strong><h2>{{ service.owner }}</h2></strong>
                    </div>
                    <strong>Rate</strong> 
                    <rating ng-model="rate" max="max"></rating>
                    <strong>Comment</strong>
                    <div>
                        <textarea ng-model="comment" rows="5"
                        cols="45" placeholder="New comment">
                        </textarea>

                        <button class="button button-block button-positive" ng-click="submitComment(service.id,comment, rate);">Save comment</button>
                    </div>
                </div>
                <button class="button icon ion-edit button-balanced" ng-click="delete(service.matchId)">
                </button>
                <div style="display:none">
                {{ service.matchId }}
                </div>
                

                <div style="display:none">
                    {{ service.id }}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>