<ion-view view-title="Upcoming Classes" ng-init="list()">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content>
        <div class="list">
            <div ng-repeat="service in data.services" class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">
                    <i class="icon ion-android-arrow-dropdown-circle"></i>
                    {{ service.title }}
                </button>
                <div ng-show="showme">
                    <label class="item">
                        <h2>Category</h2>
                        <p>{{ service.category }}</p>
                    </label>
                    <label class="item">
                        <h2>Owner</h2>
                        <p>{{ service.owner }}</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="myService in data.myServices" class="item">
                <button class="button button-block item item-icon-right" ng-click="showme = !showme">
                    <i class="icon ion-android-arrow-dropdown-circle"></i>
                    {{ myService.title }}
                </button>
                <div ng-show="showme">
                    <label class="item">
                        <h2>Category</h2>
                        <p>{{ myService.category }}</p>
                    </label>
                    <label class="item">
                        <h2>Owner</h2>
                        <p>{{ myService.owner }}</p>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>