/* Empty. Add your own CSS if you like */

.login {
	background: url('../img/login.jpg') no-repeat center;
}

.register {
	background: url('../img/register3.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

.color-white{
	color: #fff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #636363;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #636363;
}

.color-gay{
  color: #808080;
}