/* Empty. Add your own CSS if you like */

.login {
	background: url('../img/login.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

.register {
	background: url('../img/register.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

.color-white{
    color: #fff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #636363;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #636363;
}

.color-gray{
    color: #C0C0C0;
}

.logo{
    font-size: 50px;
    font-family: 'Lobster13Regular', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
    color:white;
    /*text stroke*/
    -webkit-text-stroke: 4px rgba(0, 0, 0, .6);
}

.fbbody  
{  
    font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
    